.author-enter {
    transform: translate(1000px, 0);
}

.author-enter-active {
    transform: translate(0, 0);
    transition: transform 500ms cubic-bezier(0.6, -0.3, 0.7, 0.05);
}

.author-exit {
    transform: translate(0, 0);
}

.author-exit-active {
    transform: translate(1000px, 0);
    transition: transform 500ms cubic-bezier(0.6, -0.3, 0.7, 0.05);
}

.favorites-enter {
    transform: translate(-1000px, 0);
}

.favorites-enter-active {
    transform: translate(0, 0);
    transition: transform 500ms cubic-bezier(0.6, -0.3, 0.7, 0.05);
}

.favorites-exit {
    transform: translate(0, 0);
}

.favorites-exit-active {
    transform: translate(-1000px, 0);
    transition: transform 500ms cubic-bezier(0.6, -0.3, 0.7, 0.05);
}

.chat {
    height: 80vh;
}

.chat-msg-enter {
    transform: scale(0);
    transform: rotateX(1000deg);
}

.chat-msg-enter-active {
    transform: rotate(0);
    transform: scale(1);
    transition: transform 300ms;
}

.chat-msg-exit {
    transform: rotate(0);
    transform: scale(1);
}

.chat-msg-exit-active {
    transform: scale(0);
    transform: rotate(2.5turn);
    transition: transform 300ms;
}

.msg {
    width: 70vh;
}